<meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
<title><%= h @page_title %></title>
<% stylesheets.each do |stylesheet| %>
  <link rel="stylesheet" href="<%= url_for(stylesheet) %>" type="text/css" media="screen"/>
<% end %>
