<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>"/>
    <title><%= h(object.path) %></title>
  <% stylesheets.each do |stylesheet| %>
    <link rel="stylesheet" href="<%= url_for(stylesheet) %>" type="text/css" media="screen"/>
  <% end %>
  </head>
  <body>
    <article>
      <%= yieldall %>
    </article>
  </body>
</html>
