<section>
  <h1 id="<%= urlencode(anchor_for(object)) %>" class="signature"><%= title_signature(object) %><a href="#<%= urlencode(anchor_for(object)) %>" class="anchor"> #</a></h1>
  <%= yieldall %>
</section>
