<% if object.respond_to? :is_alias? and object.is_alias? %>
<p>This is an alias for <%= link_to_alias(object) %>.</p>
<% else %>
<%= htmlify(object.docstring.strip.empty? ? text_from_return(object) : object.docstring) %>
<% end %>
