<% if object.tags(:overload).size == 1 %>
  <%= yieldall :object => object.tag(:overload) %>
<% else %>
<% object.tags(:overload).reject{ |e| e.docstring.blank? }.each do |e| %>
</section>
<section>
  <h1 class="signature"><%= title_signature(e) %></h1>
  <%= yieldall :object => e %>
<% end %>
<% end %>
