<% unless ancestors.empty? and not CodeObjects::ClassObject === object and object.mixins(:class).empty? and mixed_into(object).empty? %>
<dl>
<% unless ancestors.empty? and not CodeObjects::ClassObject === object %>
  <dt>Ancestors</dt>
  <dd>
    <ol class="modules ancestors">
    <% ancestors.each do |e| %>
      <li><p><%= linkify(e) %></p></li>
    <% end %>
    <% if CodeObjects::ClassObject === object %>
      <li><p><%= linkify(P(:Object)) %></p></li>
    <% end %>
    </ol>
  </dd>
<% end %>
<% unless object.mixins(:class).empty? %>
  <dt>Extended by</dt>
  <dd>
    <ol class="modules extends">
    <% object.mixins(:class).each do |e| %>
      <li><p><%= linkify(e) %></p></li>
    <% end %>
    </ol>
  </dd>
<% end %>
<% unless mixed_into(object).empty? %>
  <dt>Included by</dt>
  <dd>
    <ul class="modules includers">
    <% mixed_into(object).sort_by{ |e| e.path }.each do |e| %>
      <li><p><%= linkify(e) %></p></li>
    <% end %>
    </ul>
  </dd>
<% end %>
</dl>
<% end %>
