<section>
  <h1><%= @name %></h1>
  <dl class="<%= @name %>s">
  <% @children.each do |e| %>
    <dt><%= linkify(e, e.name) %></dt>
    <dd><%= htmlify(e.docstring.summary) %></dd>
  <% end %>
  </dl>
</section>
