<section>
  <h1><%= @type.to_s.capitalize %>s</h1>
  <dl class="<%= @type %>s">
  <% @children.each do |e| %>
    <dt><%= linkify(e, e.name) %></dt>
    <dd><%= htmlify(e.docstring.summary) %></dd>
  <% end %>
  </dl>
</section>
