<section id="class-method-summary">
  <h1>Class Method Summary</h1>
<%= @list = class_method_list; erb(:method_summary) %>
<%= @list = inherited_class_method_list; erb(:inherited_methods) %>
</section>
