<section id="instance-method-summary">
  <h1>Instance Method Summary</h1>
<%= @list = instance_method_list; erb(:method_summary) %>
<%= @list = inherited_instance_method_list; erb(:inherited_methods) %>
</section>
