<section id="instance-method-summary">
  <h1>Instance Method Summary</h1>
  <dl class="summary methods">
  <% instance_method_list.each do |e| %>
    <%= yieldall :item => e %>
  <% end %>
  </dl>
</section>
