<section id="instance-method-summary">
  <h1>Instance Method Summary</h1>
<%= @list = @instance_methods; erb(:method_summary) %>
<%= @list = @inherited_instance_methods; erb(:inherited_methods) %>
</section>
