<section id="method-missing">
  <h1>Dynamic Method Handling</h1>
  <p class="notice <%= @mm.namespace == object ? 'this' : 'super' %>">This class handles dynamic methods through #method_missing<% if @mm.namespace != object %> in the class <%= linkify(@mm, @mm.namespace.path) %><% end %>.</p>
  <% if @mm.namespace == object %>
    <%= yieldall :object => @mm %>
  <% end %>
</section>
