@import "/style.css";

dl {
  text-align: center;
}

dt {
  display: none;
}

dd {
  margin: 0;
  display: inline;
}

dd p {
  display: inline;
}

dd:after {
  content: '·';
}

dd:last-child:after {
  content: '';
}

section section h1 {
  text-indent: 0;
  float: left;
  margin: 0;
  font-size: inherit;
  font-weight: bold;
}

section section p {
  padding-left: 10em;
  margin-bottom: 1em;
}

section {
  clear: left;
}

section section p + p {
  padding-left: 10em;
  margin-top: -1em;
  text-indent: 0;
}

section section li {
  margin-left: 10em;
}

section section p + ul, section section li + li {
  margin-top: -1em;
}
section section li p {
  padding-left: 0;
}

#interests li {
  float: left;
  display: inline;
  width: 30%;
}

#interests li p:before {
  content: '•';
  padding-right: 1em;
}

footer {
  padding-top: 1em;
  clear: left;
}
