<section id="constructor">
  <h1>Constructor</h1>
  <% if @constructor.namespace != object %>
    <p class="notice">This class inherits a constructor from <%= linkify(@constructor, @constructor.namespace.path) %>.</p>
  <% else %>
    <%= yieldall :object => @constructor %>
  <% end %>
</section>
