<section id="constructor">
  <h1>Constructor</h1>
<% @constructors.each do |e|
  if e.namespace != object %>
    <p class="notice">This class inherits its constructor from <%= linkify(e, object.relative_path(e.namespace.path)) %>.</p>
  <% else %>
    <%= yieldall :object => e %>
  <% end %>
<% end %>
</section>
