<section id="subclasses">
  <h1>Direct Known Subclasses</h1>
  <dl class="children">
  <% @subclasses.each do |name, child| %>
    <dt><%= linkify(child, name) %></p>
    <dd><%= htmlify(child.docstring.summary) %></li>
  <% end %>
  </dl>
</section>
