@import "/style.css";

body {
  counter-reset: section-counter -1;
}

section section h1 {
  position: relative;
}

section section h1:before {
  display: block;
  position: absolute;
  left: -4em;
  width: 3em;
  text-align: right;
  content: counter(section-counter) ".";
  counter-increment: section-counter;
}

article ol {
  list-style-type: none;
  counter-reset: ol-counter;
}

article ol > li {
  position: relative;
}

article ol > li:before {
  display: inline-block;
  position: absolute;
  left: -1.5em;
  content: counter(ol-counter, lower-alpha) ")";
  counter-increment: ol-counter;
}

article ol li > ol {
  counter-reset: ol-counter -1;
}

article ol li > ol > li:before {
  content: counter(ol-counter, decimal) ")";
}
